<h1 class="page-header">Nueva Solicitud de Cita</h1>
<p>Indique la fecha y el veterinario deseado y nos pondremos en contacto con usted lo antes posible para confirmar la cita.</p>
<div class="col-sm-5">
    <form>
        <div class="form-group">
            <!-- mascotas -->
            <select class="form-control" >
                <option></option>
            </select>
             <!-- veterinario -->
            <select class="form-control" >
                <option></option>
            </select>
            <!-- date + time -->
            <input type="datetime-local" class="form-control" >
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    </form>
</div>
